* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: Poppins;
  font-weight: 400;
  background-position: center;
  background-size: cover;
}

.grid_center {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.landing {
  width: 100%;
  height: 100vh;
  position: relative;
}

.landing_content {
  width: 100%;
  height: 50vh;
  display: grid;
  place-self: center;
  justify-items: center;
  place-items: center;
  color: white;
}

.apb_logo {
  width: 20%;
  transition-delay: 2s;
}

.apb_logo:hover {
  transition-delay: 2s;
  content: url('/media/logo_color.png');
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.7s;
  display: grid;
  align-items: center;
  z-index: 20;
}

header.sticky {
  padding: 5px;
  background: black;
  color: white;
}

nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.logo a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0px;
  text-decoration: none;
}

.logo img {
  width: 30px;
  margin-right: 10px;
}

header nav ul {
  float: right;
  position: relative;
}

header nav ul li {
  display: inline-block;
  float: left;
}

header nav ul li:not(:first-child) {
  margin-left: 48px;
}

header nav ul li:last-child {
  margin-right: 24px;
}

header nav ul li a {
  display: inline-block;
  outline: none;
  color: white;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 400;
  transition: 0.3s ease;
}

header nav ul li a:hover {
  color: #999;
}

#myVideo {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

small {
  font-size: 1.7rem;
  color: #5E181B;
  position: relative;
  z-index: 20;
}
small:before {
  content: "\2014 \0020";
  width: 5px;
}

.shop-btn {
  padding: 10px 13px;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 600;
}

.section {

}

.the-alphan-crusade {
  display: grid;
  place-items: center;
  margin: 5vw 8vw;
}

.headings {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.headings h1 {
  margin: 0;
  font-size: 4rem;
  color: #5E181B;
}

.headings h2 {
  margin: 10px 0px;
  font-size: 1.3rem;
  font-weight: 200;
}

.image-text {
  display: flex;
  margin: 10vh 1vw;
}

.image-text img {
  width: 50vw;
  border-radius: 10px;
  margin-right: 50px;
}

.section-text p {
  font-size: 1.5rem;
  font-weight: 200;
}

.section-btn a {
  position: relative;
  top: 20px;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #5E181B;
  text-decoration: none;
  color: #5E181B;
}


@media screen and (max-width: 864px) {

  .logo {
    margin: 0;
    padding: 0;
  }
  
  .logo {
        padding: 0;
        margin: 15px;
  }

  .apb_logo {
    width: 50%;
  }

  .landing_content {
    height: 30vh;
  }

  .landing_content h1 {
    transform: scale(0.7);
  }

  header.sticky {
        padding: 5px;
        background: black;
        color: white;
  }

  .the-alphan-crusade {
    display: grid;
    place-items: center;
    margin: 50px 0px 70px 0px;
  }

  .headings h1 {
    font-size: 32px;
    margin: 0;
  }

  .headings h2 {
    font-size: 15px;
    margin: 10px 0px;
  }

  .image-text {
    display: grid;
    place-items: center;
    margin: 30px 0px;
  }

  .image-text img {
    width: 80vw;
    margin: 0;
  }

  .section-text {
    width: 80vw;
  }

  .section-text p {
    font-size: 1rem;
    text-align: justify;
    position: relative;
    top: 20px;
  }
  
  .section-btn a {
    position: relative;
    top: 50px;
  }


  .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
  }

  .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
  }

  .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.1s;
  }

  .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.15s;
  }

  .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.25s;
  }
  .nav-wrapper ul li:nth-child(5) a {
        transition-delay: 0.3s;
  }
  .nav-wrapper ul li:nth-child(6) a {
        transition-delay: 0.35s;
  }
  .nav-wrapper ul li:nth-child(7) a {
        transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(8) a {
        transition-delay: 0.45s;
  }
  .nav-wrapper ul li:nth-child(9) a {
        transition-delay: 0.5s;
  }
  .nav-wrapper ul li:nth-child(10) a {
        transition-delay: 0.55s;
  }

  .shop-btn {
    padding: 0;
    border: 0;
  }

  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }

  .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
  }

  .nav-btn {
        position: fixed;
        right: 10px;
        top: 15px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
        transition: 0.7s;
  }

  .nav-btn.sticky {
    top: 20px;
  }

  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        border-radius: 2px;
        margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
        margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
  }

  .nav-btn i:nth-child(3) {
        margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: black;
  padding: 50px;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1{
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.575);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.clearfix h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.575);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}


.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
  color: white;
  z-index: 20;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }