* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: Poppins;
  font-weight: 400;
  background-position: center;
  background-size: cover;
}

.grid_center {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.landing {
  width: 100%;
  height: 100vh;
  position: relative;
}

.landing_content {
  width: 100%;
  height: 50vh;
  display: grid;
  place-self: center;
  justify-items: center;
  place-items: center;
  color: white;
}

.apb_logo {
  width: 20%;
  transition-delay: 2s;
}

.apb_logo:hover {
  transition-delay: 2s;
  content: url('/media/logo_color.png');
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.7s;
  display: grid;
  align-items: center;
  z-index: 20;
}

header.sticky {
  padding: 5px;
  background: black;
  color: white;
}

nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}

.logo a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none;
}

header nav ul {
  float: right;
}

header nav ul li {
  display: inline-block;
  float: left;
}

header nav ul li:not(:first-child) {
  margin-left: 48px;
}

header nav ul li:last-child {
  margin-right: 24px;
}

header nav ul li a {
  display: inline-block;
  outline: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 400;
  transition: 0.7s ease;
}

header nav ul li a:hover {
  color: #999;
}

#myVideo {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.container {
  margin: 100px 20%;
}

.container > h1 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 100px;
  text-align: justify;
}

.quote {
  text-align: center;
  font-size: 2rem;
  margin: auto;
  padding: 15px;
  font-weight: 400;
  border: 2px solid black;
  max-width: 70%;
  position: relative;
  transform: scale(0.8);
  display: grid;
  place-items: center;
}

blockquote {
  color: black;
  font-style: italic;
  position: relative;
  z-index: 20;
}

.left {
  position: absolute;
  top: -50px;
  left: -20px;
  width: 150px;
  text-align: left;
  z-index: 10;
  font-size: 5rem;
  color: #5E181B;
  background-color: white;
  line-height: 200px;
}

.right {
  position: absolute;
  bottom: -50px;
  right: -20px;
  width: 150px;
  text-align: right;
  z-index: 10;
  font-size: 5rem;
  color: #5E181B;
  background-color: white;
  line-height: 200px;
}

small {
  font-size: 1.7rem;
  color: #5E181B;
  position: relative;
  z-index: 20;
}
small:before {
  content: "\2014 \0020";
  width: 5px;
}

.motto_wrapper {
  width: 100%;
  height: 50vh;
  background-color: #5E181B;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.motto{
  position: relative;
  display: grid;
  place-items: center;
}

.background_text {
  margin: 0;
  color: #E98234;
  font-size: 9vw;
  opacity: 20%;
  text-transform: uppercase;
  margin-right: 20%;
  margin-top: 10px;
  margin-left: 30px;
  line-height: 8vw;
}

.background_text2 {
  color: #E98234;
  font-size: 3vw;
  opacity: 20%;
  text-transform: uppercase;
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 0;
  width: 50vw;
}

.homepage {
  width: 100%;
  height: 70vh;
  background-color: white;
}

.margin {
  margin: 3vw;
}

.branchPages {
  width: 100%;
  height: 130vh;
  display: grid;
  place-items: center;
  position: relative;
}

.branchPages_wrapper {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.branchPageTile {
  margin: 30px;
  width: 30vw;
}

.branchPageTile a {
  text-decoration: none;
  color: black;
}

.branchPageTile img{
  width: 100%;
  filter: grayscale(100%);
}
.branchPageTile img:before{
  display: block;
  padding-top: 25%;
}

.branchPageTile h3 {
  font-size: 1.25rem;
  margin: 0;
  margin-top: 2vh;
  font-weight: 400;
}

.branchPageTile  p {
  margin-top: 1rem;
  font-weight: 300;
  opacity: 50%;
} 




@media screen and (max-width: 864px) {

  .branchPages {
    height: auto;
  }

  .branchPages_wrapper {
    padding: 50px 0px;
  }

  .branchPageTile {
    margin: 30px;
    width: 100%;
  }

  .branchPageTile p {
    text-align: justify;
  }

  .motto_wrapper {
    height: 30vh;
  }

  .background_text {
    margin-left: 0;
    font-size: 10vw;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 10px;
    margin-right: 0;
  }

  .background_text2{
    position: absolute;
    font-size: 6vw;
    bottom: 20px;
    width: 100%;
    right: 10px;
    margin: 0;
    text-align: right;
  }
  
  .logo {
        padding: 0;
        margin: 15px;
  }

  .apb_logo {
    width: 50%;
  }

  .landing_content {
    height: 30vh;
  }

  .landing_content h1 {
    transform: scale(0.7);
  }

  .container {
    margin: 50px 10%;
    text-align: justify;
  }

  .container > h1 {
    margin-top: 50px;
    font-size: 20px;
  }

  header.sticky {
        padding: 5px;
        background: black;
        color: white;
  }

  .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
  }

  .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
  }

  .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.1s;
  }

  .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(5) a {
        transition-delay: 0.5s;
  }
  .nav-wrapper ul li:nth-child(6) a {
        transition-delay: 0.6s;
  }
  .nav-wrapper ul li:nth-child(7) a {
        transition-delay: 0.7s;
  }
  .nav-wrapper ul li:nth-child(8) a {
        transition-delay: 0.8s;
  }

  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }

  .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
  }

  .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
  }

  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        border-radius: 2px;
        margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
        margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
  }

  .nav-btn i:nth-child(3) {
        margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: black;
  padding: 50px;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1{
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.575);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.clearfix h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.575);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}


.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
  color: white;
  z-index: 20;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }